<div>
    <div class="logo">
        <a href="../index.html"> <img src="/images/bnbatc_wt_logo.svg" alt="Basketball NBA Trading Cards Logo" /></a>
    </div>
    <ul id="secNav">                    
        <li><a onclick="location.href='../index.html'">Home</a></li>
        <li><a onclick="location.href='../packs/index.html'">Buy Packs</a></li>
        <li><a onclick="location.href='../buycards/index.html'">Buy Cards</a></li>
        <li><a onclick="location.href='../sellcards/index.html'">Sell Cards</a></li>
        <li><a onclick="location.href='../tradecards/index.html'">Trade Cards</a></li>
    </ul>
    <div class="social">
        <a href="https://www.facebook.com/" alt="facebook" target="_blank">
            <img src="/images/facebook_icon.svg"/>
        </a>
        <a href="https://www.instagram.com/" alt="instagram" target="_blank">
        <img src="/images/instagram_icon.svg"/>
        </a>
        <a href="https://www.youtube.com/" alt="youtube" target="_blank">
            <img src="/images/youtube_icon.svg"/>
        </a>
    </div>
</div>
<div id="lastLine">
    <a>&copy;2023 - Andrey Blanco - WDD330</a>
</div>